.container {
	min-height: 60vh;
}

.menu {
	top: 0;
	position: fixed;
}

.container {
	margin: calc(56px + 10vh) 36px;
}

.title {
	color: var(--white);
	font-size: 40px;
	font-weight: 900;
	text-align: center;
	margin-top: 48px;
}

#contact-form {
	background-color: var(--white);
	border-radius: 4px;
	box-shadow: var(--default-shadow);
	display: flex;
	flex-direction: column;
	height: 30ch;
	max-width: 60ch;
	margin: 24px;
	padding: 24px;
	width: 40ch;
}

#contact-form {
	height: auto;
	margin: 24px auto;
	width: 40vw;
}

input,
textarea {
	border: 1px solid var(--darkest-blue);
	border-radius: 4px;
    font-size: 16px;
	letter-spacing: 0.2ch;
    line-height: 1.5;
    width: 100%;
}

#checkmark,
input {
    height: 3rem;
	margin: 8px 0 24px 0;
}

textarea {
    height: 10rem;
	margin-top: 8px;
}

input:focus-visible,
textarea:focus-visible {
    border-color: var(--orange);
    border-width: 2px;
    outline: none;
} 

textarea,
input[type="text"],
input[type="email"] {
	font-family: inherit;
	font-size: 14px;
	padding-left: 12px;
}

textarea {
	padding: 12px;
}

.kap-tcha-fields {
	align-items: center;
	display: flex;
}

#kap-tcha {
	width: 80%;
}

#checkmark {
	font-size: 2rem;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

#clear-button,
#send-button {
	background-color: var(--orange);
	border: none;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	height: 50px;
	width: 60%;
}

#clear-button.pressed,
#send-button.pressed {
	border: solid;
	border-color: var(--white);
	border-width: 2px;
}

#contact-form h3 {
	margin-top: 24px;
}

#clear-button:hover,
#send-button:hover {
	opacity: 0.8;
}

#clear-button {
	background-color: var(--medium-blue);
	width: 25%;
}

.page-footer {
	align-items: center;
	background-color: var(--orange);
	border-top: 2px solid var(--white);
	color: var(--white);
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 30vh;
	margin-top: 48px;
}

.back-to-top,
.back-to-top a,
.back-to-top a:visited {
	color: var(--white);
	font-size: x-large;
	margin: 36px 0;
}

.back-to-top a:hover {
	opacity: 0.8;
}

.footer-copyright {
	margin: 12px 0 48px 0;
}

@media (max-width: 768px) {
	#contact-form {
		width: 100%;
	}
}